<div class="p-t-55 p-b-9 text-center">
    <h1>Para que puedas recuperar tu cuenta</h1>
</div>
<!-- Campo email -->
<div class="p-t-31 p-b-9">
    <span class="txt1">Ingresa el mail de tu cuenta: </span>
</div>
<!-- Se agrega  la clase alert-validate para mostrar el error especificado  en data-validate -->
<div class="wrap-input100 validate-input" data-validate="El email es requerido" [ngClass]="{ 'alert-validate': campoEsValido('email') }">
    <input class="input100" type="text" formControlName="email" placeholder="Ingresar email" />
    <span class="focus-input100"></span>
</div>

<!-- Boton  de login -->
<div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn" type="submit" [disabled]="formulario.invalid">
    Recuperar contraseña
  </button>
</div>
