<div class="p-t-31 p-b-9">
    <h1>Tu perfil</h1>
</div>


<!-- Campo nombre -->
<div class="p-t-31 p-b-9">
    <p><span class="txt1"> Nombre: </span> <b>Elias</b></p>
</div>

<!-- Campo apellido -->
<div class="p-t-31 p-b-9">
    <p><span class="txt1">Apellido: </span><b>Acevedo</b></p>
</div>

<!-- Campo mail -->
<div class="p-t-31 p-b-9">
    <p><span class="txt1">Mail: </span><b>eacevedo@mail.com</b></p>
</div>


<!-- Campo telefono -->
<div class="p-t-31 p-b-9">
    <p><span class="txt1">Telefono: </span><b>2634614386</b></p>
</div>


<!-- Campo direccion -->
<div class="p-t-31 p-b-9">
    <p><span class="txt1">Dirección: </span><b>Calle falsa 123</b></p>
</div>


<!-- Campo contraseña -->
<div class="p-t-13 p-b-9">
    <p><span class="txt1"> Contraseña: </span><b>contraseña123</b></p>
</div>


<!-- Boton  de login -->
<div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn" type="submit" [routerLink]="['/auth/editar-datos-usuario/12']">
  Editar datos
</button>
</div>

<!--Campo para ver historial de compras-->
<div class="w-full p-t-55">
    <span class="txt1"> ¿Ver tus pedidos anteriores? </span>
    <a [routerLink]="['/auth/registro']" class="txt1 bo1">Historial de pedidos</a>
</div>
